[data-fpl-version=ui3] .left_panel_positioner--leftPanelPositioner--8Yehe, [data-fpl-version=ui3] .properties_panel--panelPosition--oppQ8  {
    top: 0px !important;
    bottom: 0px !important;
  }
  
  [data-fpl-version=ui3] .left_panel_positioner--leftPanelPositioner--8Yehe {
    left: 0px !important;
  }
  
  [data-fpl-version=ui3] .properties_panel--drillDownContainer--VaNDa {
   right: 0px !important;
  }
  
  [data-fpl-version=ui3] .left_panel_container--panel--ILPCV, [data-fpl-version=ui3] .properties_panel--panelContainer--cKjqh {
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  
  .left_panel_island--islandContainer--Sowsa {
    border-radius: 0px 0px .8125rem 0px !important;
  }
  
  [data-fpl-version=ui3] .properties_panel--panelContainerCollapsedWithBackground--9UCfA {
    border-radius: 0px 0px  0px .8125rem!important;
  }
    